html{
    scrollbar-color: #fdd2e6 #ffe6c4;
    scrollbar-width: thin;
}

textarea, input{  
   font-family: Verdana, Geneva, Tahoma, sans-serif; 
   font-size: 15px;  
   color: #a571d1; 
}

body{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div{
    margin: 0rem 25rem;
    width: 50rem;
    height: 35rem;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
    background-image: url("https://i.pinimg.com/originals/a6/ce/72/a6ce72803b5cbbb426eac27ed6a648fd.jpg");
    background-size: cover;
}

section{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    border: dotted white 1px;

    background-color: transparent;
    color: #a571d1;
}

section p{
    background-color: white;
    opacity: 0.9;
    border-radius: 30px;
    width: 35rem;
    padding: 10px 20px;
}

section button{
    width: 1.5rem;
    height: 1.5rem;
    border: none;
    background-color: transparent;
    color: rgb(206, 117, 228);
    cursor: pointer;
}

form{
    display: flex;
    width: 50rem;
    margin: 0rem 25rem;
    background-color: rgb(251, 217, 252);

}

textarea[type=text]{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=text]{
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
button[type=button] {
    width: 20%;
    background-color:  rgb(206, 117, 228);
    color: white;
    font-size: large;
    padding: 14px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  